<%#encoding:UTF-8%><!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- No caching headers -->
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>
    <meta name="keywords" content="JDO, Apache, Java, Data, Objects"/>
    <meta name="description" content="Apache JDO - Java Data Objects"/>

    <title><%= document.name %></title>

    <link rel="icon" type="image/png" href="https://apache.github.io/db-jdo-site/images/JDO_32x32.png"/>

    <!--
        Apache JDO Documentation Template
        ==================================
        This template derived various aspects from Apache Deltaspike template, the Apache ISIS template and the Datanucleus template.
        This template uses 
        * Bootstrap v3.3.7 (https://getbootstrap.com/) for navbar.
        * Asciidoctor "foundation" CSS
        * Bootswatch "cosmo" theme for Bootstrap (https://bootswatch.com/cosmo).
        * Bootstrap TOC plugin v0.4.1 (https://afeld.github.io/bootstrap-toc/) for the table of contents.
        * jQuery (necessary for Bootstrap's JavaScript plugins)
        * Font-Awesome for some icons used by Asciidoctor
        NOTE: tried using Font-Awesome CSS hosted locally but then fails to work!
    -->
    <link href="<%= (attr :_basedir) %>css/bootswatch/3.3.7/bootstrap-cosmo.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/bootstrap-toc/0.4.1/bootstrap-toc.min.css" rel="stylesheet"/>

    <link href="<%= (attr :_basedir) %>css/asciidoctor/foundation.css" rel="stylesheet"/>
    <link href="<%= (attr :_basedir) %>css/datanucleus_theme.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <%
       def is_toc?
         not (attributes.has_key?('notoc'))
       end
    %>

    <%
       def is_titlepage?
         attributes.has_key?('titlepage')
       end
    %>

    <%
       def is_jdo?
         attributes.has_key?('jdo')
       end
    %>
    <%
       def is_jpa?
         attributes.has_key?('jpa')
       end
    %>
    <%
       def is_usage?
         attributes.has_key?('usage')
       end
    %>
    <%
       def is_articles?
         attributes.has_key?('articles')
       end
    %>
    <%
       def is_community?
         attributes.has_key?('community')
       end
    %>
    <%
       def is_development?
         attributes.has_key?('development')
       end
    %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="<%= (attr :_basedir) %>js/bootstrap-toc/0.4.1/bootstrap-toc.min.js"></script>

    <!-- Coderay syntax formatter -->
    <style type="text/css">
        <%= ::Asciidoctor::Stylesheets.instance.coderay_stylesheet_data %>
    </style>
</head>
<body data-spy="scroll" data-target="#toc">
<!-- Navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Three line menu button for use on mobile screens -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 'style' added to align image with navbar. FIX THIS -->
            <a class="navbar-brand" href="https://db.apache.org/jdo/">
                <img style="margin-top: -12px;" alt="Brand" src="<%= (attr :_basedir) %>images/JDO_44x44.png"/>
            </a>
            <!-- TODO Any way to abstract the version from Maven? -->
            <a class="navbar-brand" href="<%= (attr :_basedir) %>index.html">Apache JDO</a>
        </div>
        <!-- Navbar that will collapse on mobile screens -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <% if is_jdo? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">General <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">General <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>why_jdo.html">Why JDO?</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdo_v_jpa.html">JDO v JPA</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdo_v_jpa_api.html">JDO v JPA : API</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdo_v_jpa_orm.html">JDO v JPA : ORM</a></li>
                        <li><a href="<%= (attr :_basedir) %>downloads.html">Downloads</a></li>
                        <li><a href="<%= (attr :_basedir) %>http://www.apache.org/licenses/LICENSE-2.0">License</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <% if is_jpa? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">JDO Implementation <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JDO Implementation <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>specifications.html">Specifications</a></li>
                        <li><a href="<%= (attr :_basedir) %>tck.html">TCK</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <% if is_usage? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">JDO Usage <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JDO Usage <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>impls.html">Implementations</a></li>
                        <li><a href="<%= (attr :_basedir) %>javadoc.html">API Javadoc</a></li>
                        <li><a href="<%= (attr :_basedir) %>class_types.html">Types of Classes</a></li>
                        <li><a href="<%= (attr :_basedir) %>field_types.html">Types of Fields</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Metadata</li>
                        <li><a href="<%= (attr :_basedir) %>metadata.html">MetaData</a></li>
                        <li><a href="<%= (attr :_basedir) %>annotations.html">Annotations</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdo_dtd.html">jdo DTD/XSD</a></li>
                        <li><a href="<%= (attr :_basedir) %>orm_dtd.html">orm DTD/XSD</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdoquery_dtd.html">jdoquery DTD/XSD</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdoconfig_dtd.html">jdoconfig DTD/XSD</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<%= (attr :_basedir) %>enhancement.html">Bytecode Enhancement</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdohelper.html">JDO Helper</a></li>
                        <li><a href="<%= (attr :_basedir) %>pmf.html">PersistenceManagerFactory</a></li>
                        <li><a href="<%= (attr :_basedir) %>pm.html">PersistenceManager</a></li>
                        <li><a href="<%= (attr :_basedir) %>transactions.html">Transactions</a></li>
                        <li><a href="<%= (attr :_basedir) %>attach_detach.html">Attach-Detach</a></li>
                        <li><a href="<%= (attr :_basedir) %>fetchgroups.html">Fetch Groups</a></li>
                        <li><a href="<%= (attr :_basedir) %>state_transition.html">Object States</a></li>
                        <li><a href="<%= (attr :_basedir) %>object_retrieval.html">Object Retrieval</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">JDOQL</li>
                        <li><a href="<%= (attr :_basedir) %>jdoql.html">JDOQL</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdoql_result.html">Result</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdoql_methods.html">Methods</a></li>
                        <li><a href="<%= (attr :_basedir) %>jdoql_quickref.pdf">Quick Ref PDF</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<%= (attr :_basedir) %>extents.html">Extents</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Guides</li>
                        <li><a href="<%= (attr :_basedir) %>guides.html">Guides</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides-replication.html">Datastore Replication</a></li>
                        <li><a href="<%= (attr :_basedir) %>guides-maven-jdo.html">JDO and Maven1</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<%= (attr :_basedir) %>references.html">References</a></li>
                        <li><a href="<%= (attr :_basedir) %>exceptions.html">Exceptions</a></li>
                        <li><a href="<%= (attr :_basedir) %>glossary.html">Glossary</a></li>
                    </ul>
                </li>
               <li class="dropdown">
                  <% if is_articles? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">Articles <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>jdo_3_0_overview.html">JDO 3.0 Overview</a></li>
                    </ul>
                </li>
               <li class="dropdown">
                  <% if is_community? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">Community <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>get-involved.html">Get Involved</a></li>
                        <li><a href="<%= (attr :_basedir) %>team-list.html">Project Team</a></li>
                        <li><a href="<%= (attr :_basedir) %>mail-lists.html">Mailing Lists</a></li>
                        <li><a href="<%= (attr :_basedir) %>faq.html">FAQ</a></li>
                    </ul>
                </li>
               <li class="dropdown">
                  <% if is_development? then %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:#2385c6">Development <span class="caret"></span></a>
                  <% else %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Development <span class="caret"></span></a>
                  <% end %>
                    <ul class="dropdown-menu">
                        <li><a href="<%= (attr :_basedir) %>roadmap.html">RoadMap / TODO</a></li>
                        <li><a href="<%= (attr :_basedir) %>svn.html">Source Code</a></li>
                        <li><a href="<%= (attr :_basedir) %>http://cwiki.apache.org/GMOxDEV/Coding+standards">Coding Standards</a></li>
                        <li><a href="<%= (attr :_basedir) %>issuetracking.html">Issue Tracking</a></li>
                        <li><a href="<%= (attr :_basedir) %>dependencies.html">Dependencies</a></li>
                    </ul>
                </li>
            </ul>
           <!-- 'style' added to fix height of input box. FIX THIS -->
            <form class="navbar-form navbar-left" role="search" id="search-form" action="https://www.google.com/search" method="get" style="padding: 1px 15px;">
                <div class="form-group">
                    <input name="sitesearch" value="db.apache.org" type="hidden">
                    <input name="q" type="text" class="form-control" placeholder="Search" style="margin-top: 7px; padding: 1px; border-radius: 5px; height: 30px; vertical-align: middle;">
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <% if is_toc? then %>
        <div class="row-fluid">
            <div class="col-sm-9">
<!--                <div class="page-title">
                    <h3><%= document.name %></h3>
                </div>
-->
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
            <div class="col-sm-3">
                <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
            </div>
        </div>
    <% else %>
        <!-- No TOC -->
        <div class="row-fluid">
            <div class="col-sm-12">
                <% if is_titlepage? then %>
                    <!-- Front Page, so no heading -->
                <% else %>
                    <div class="page-title">
                        <h4><%= document.name %></h4>
                    </div>
                <% end %>
                <div id="doc-content">
                    <%= document.content %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<footer style="background-color:#97d5ca; padding: 5px;">
<div class="container">
    <hr/>
    <div class="row">
        <div class="col-sm-9">
    <a href="https://www.facebook.com/JavaDataObjects" class="externalLink" title="Facebook">Facebook</a>
            |
                        <a href="https://twitter.com/JavaDataObjects" class="externalLink" title="Twitter">Twitter</a>
            |
                        <a href="http://wiki.apache.org/jdo" class="externalLink" title="Wiki">Wiki</a>
            |
                        <a href="http://issues.apache.org/jira/secure/BrowseProject.jspa?id=10630" class="externalLink" title="Issue Tracker">Issue Tracker</a>
            |
                        <a href="mail-lists.html" title="Mailing Lists">Mailing Lists</a>
            |
                        <a href="api31/apidocs/index.html" title="Latest Javadocs">Latest Javadocs</a>
        </div>
    </div>
    <hr/>
    <p class="text-center">&copy; 2005-2019 Apache Software Foundation. All Rights Reserved.</p>
</div>
</footer>
</body>
</html>

